@CHARSET "UTF-8";
/* body全体を画面のサイズに調整 */
html, body{
	margin: 0;
	border: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}
/* ヘッダー */
.header{
	background-color: #81d4cb;
	color: white;
	text-align: center;
	width: 100%;
	height: 100px;
}
/*メインコンテンツ*/
.content{
	width: 100%;
	height: 85%;
}
/*ページナビゲーション*/
.nav{
	width: 100%;
	float: left;
	text-align: left;
	background-color: #f7f8f9;
}

/**テーブル**/
.item-detail-table{
	/*枠線*/
	border-collapse: collapse;
	border-right: 1px solid #999;
}

.item-detail-table th{
	/*内部余白*/
	padding: 10px;
	/*枠線*/
	border-top: 1px solid #fff;
	/*文字色*/
	color: #fff;
	/*文字表示*/
	text-align: left;
	/*背景色*/
	background-color: #81d4cb;
}

.item-detail td{
	/*内部余白*/
	padding: 0px;
	/*枠線*/
	border: 1px solid #999;
	/*背景色*/
	background-color: #fff;
	/*横幅*/
	width: 90%;
	/*高さ*/
	height: 40px;
}

.item-detail-table input{
	width:100%;
	height:100%;
	border:none;
}

.item-detailtable textarea{
	width:100%;
	height:80px;
	border:none;
	padding:0;
	display:block;
}